<%- include("header") -%>

<h1 class="heading">Tired of memorizing things you have to do in a day?</h1>
<p>Dont worry I have the perfect solution for you. A To Do List which you can open anytime anywhere!</p>
<p>Just add new tasks you want to do in a day by clicking the '+' button and you can also delete them by clicking on the checkbox once you are done with a particular task.
</p>
  <p>
    Also you can make seperate lists related to different areas like, shopping, school, work and many more by just adding /[List Heading] (Eg: add /shopping after the link for making a todolist related to shopping).
    </p>


<button class="workButton" type="button" onclick="pageRedirect1()">My To Do List</button>

<%- include("footer") -%>
