<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <script>
    function pageRedirect() {
      window.location.href = "/work";
    }
    function pageRedirect1() {
      window.location.href = "/";
    }
</script>
<!-- <h1 class="heading">Tired of memorizing things you have to do in a day?</h1>
<p>Dont worry I have the perfect solution for you. A To Do List which you can open anytime anywhere!</p>
<p>Just add new tasks you want to do in a day by clicking the '+' button and you can also cut them by clicking on the checkbox once you are done with a particular task.
</p>
  <p>
    Also you can make a seperate list related to your job in which you can add tasks related to the work you have to do.
    Just click the 'Go To Work List' button.
    </p>

  <h3 class="heading3">Scroll Down</h3> -->

</head>

<body>
